{{> header}}
    <div class="main">
    {{#error_no_image}}
        <br><h4 align="center">No image left (for now). [{{done_count}} done]</h4>
    {{/error_no_image}}
    {{^error_no_image}}
    <br><h4 align="middle">Match this image with the correct Gym and Pokémon if necessary. [{{done_count}} done | {{todo_count}} open]</h4>
        <div class="row">
            <div class="col-md-2">
                <div class="text-center">
                    <h5>Screenshot</h5>
                    <img src="/static/images/{{image}}" alt="Raid Image" height="300">
                    <br><br>
                    <form action="/delete" method="post">
                        <input id="id" name="id" type="hidden" value="{{id}}">
                        <input type="submit" value="Not a Raid">
                    </form>
                    <br><br>
                    <input type="submit" id="skip" value="Skip">
                </div><br>
            </div>
            {{#show_pokemon}}
            <div class="col-md-4" id="pokemon-search-div">
                <div class="text-center">
                    <h5>Pokémon</h5>
                    <input class="search" type="search" id="pokemon-search" name="pokemon-search" data-type="pokemon">
                    <ul id="pokemon-search-results" class="search-results pokemon-results"></ul>
                </div><br>
            </div>
            <div class="col-md-4">
            {{/show_pokemon}}
            {{^show_pokemon}}
            <div class="col-md-8">
            {{/show_pokemon}}
                <div class="text-center">
                    <h5>Gym</h5>
                    <input class="search" type="search" id="gym-search" name="gym-search" data-type="gym">
                    <ul id="gym-search-results" class="search-results gym-results"></ul>
                </div><br>
            </div>
            <div class="col-md-2">
                <div class="text-center">
                    <br>
                    <input type="submit" id="submit-raid" value="Submit Raid">
                </div><br>
            </div>
        </div>
    {{/error_no_image}}
    </div>
{{> footer}}
